    <h1 class="mt-4 mb-2">Login</h1>
    <% errors.forEach(function(error){ %>
    <div class="alert alert-danger"><%= error %></div>
		 <% })%>
		 <% if(flash && flash.errors && flash.errors.length > 0) { %>
			<% flash.errors.forEach(function(error){ %>
			<div class="alert alert-danger"><%= error %></div>
			<% })%>
			<% } %>
    <form id="loginForm" method="POST">
		<input type="hidden" name="_csrf" value="<%= csrf_token %>">
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group">
                    <label class="control-label" for="email">Username or email address</label>
                    <input class="form-control" id="email" name="email" placeholder="Email"  type="text">
	            </div>
            </div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<input class="form-control" id="password" name="password" placeholder="Password" type="password" value="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
						<div class="g-recaptcha" data-sitekey="6LcLSBETAAAAAM8RqKELyKVPerViffFAQ1QTl40U"></div>
				</div>
				<input type="submit" value="Login" class="btn btn-primary">
			</div>
		</div>
	</form>