<%- include('../header'); -%>
<%- include('../navbar'); -%>
<div class="container">
    <h1 class="mt-4 mb-2">Login</h1>
    <% errors.forEach(function(error){ %>
    <div class="alert alert-danger"><%= error %></div>
     <% })%>
    <form method="POST">
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group">
                    <label class="control-label" for="email">Username or email address</label>
                    <input class="form-control" id="email" name="email" placeholder="Email"  type="text">
	            </div>
            </div>
		</div>
		<div class="row">
			<div class="form-group col-md-4">
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
					<input class="form-control" id="password" name="password" type="password" value="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<input type="submit" value="Login" class="btn btn-primary">
			</div>
		</div>
	</form>
</div>


<%- include('../footer'); -%>