 <div class="container">
       <h1><%= title%></h1>
    <div class="alert alert-primary mt-4">Thành lập vào ngày 24/4/2014 vì một số bất đồng với fansub cũ, các thành viên đã tách ra lập nhóm Fuyu này.</div>
    <div class="alert alert-light">
        <p>1/ Bản dịch tiếng Việt của nhóm sẽ dựa 100% trên bản dịch tiếng anh</p>
        <p>2/ Không dịch kiểu GG như rất nhiều nhóm nên bơ mọi phàn nàn về không giống Jap, Eng blah blah</p>
        <p>3/ Phê bình góp ý thoải mái, chửi rủa cũng được nhưng kiểu GATO bới móc thì bơ</p>
        <p>4/ KHÔNG bao giờ có ver 2, sai sót gì thì sửa ở bản BD. ( bản BD sẽ có hoặc không hên xui, ver khác sẽ có ngoại lệ nhưng chỉ là rất ít đừng nên kì vọng vào có ver 2)</p>
        <p>5/ Lấy up onl không cần xin phép, bản sub là softsub ai muốn xin sub để làm gì cũng được, muốn chỉnh sửa hay đạo độ gì đều ok, nói chung là không quan tâm</p>
        <p>6/ Nhóm chỉ dịch chứ không làm gì to tát người xem đừng nên thần tượng hóa, thần thánh hóa người dịch, nhớ ơn studio đi</p>
        <p>7/ Kỷ luật đến đuổi mọi member có hành vi không đứng đắn (áp dụng với mem nhóm)</p>
        <ul>– Delay quá hạn quá nhiều lần, drop quá nhiều</ul>
        <ul>– Đòi hỏi bản quyền cá nhân về bản dịch (lậu)</ul>
        <ul>– Ảo tưởng về kiếm tiền, mở shop dùng danh nghĩa nhóm</ul>
        <ul>– Dùng danh nghĩa nhóm để tranh chấp cá nhân, gây hấn dưới mọi hình thức</ul> 
        <p class="mb-0 strong" style="color: red"><strong>TÔI LÀM NHỮNG GÌ MÌNH THÍCH, NGHĨ GÌ KỆ MẸ CÁC BẠN, TÔI SẼ RỌ MÕM MỌI CON CHÓ HATER, LOSER</strong></p>
    </div>

   </div>