<div class="container fuyu-body">
    <table class="table table-bordered">
            <thead>
                <tr>
                <th style="width:80px;" class="text-center" scope="col">Category</th>
                <th scope="col">Name</th>
                <th class="fuyu-comments" title="Comments" style="width:50px;">
                        <a href="#"></a>
                        <i class="fas fa-comments"></i>
                </th>
                <th class="text-center" scope="col">Link</th>
                <th class="text-center" scope="col">Size</th>
                <th class="text-center" scope="col">Date</th>
                <th class="text-center" scope="col"><i class="fa fa-check" aria-hidden="true"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th class="text-center" scope="row"><img src="https://nyaa.si/static/img/icons/nyaa/1_2.png" alt="Anime Sub" style="width: 80px; height: 28px;"></th>
                    <td colspan="2">[NSBC] Perfect World 2019 E02 [WEBDL] [1080p]</td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="/download/1137892.torrent"><i class="fa fa-fw fa-download"></i></a>
                    </td>
                    <td class="text-center">733.1 MiB</td>
                    <td class="text-center">2019-04-23 20:25</td>
                    <td class="text-center">121</td>
                </tr>
                <tr>
                    <th class="text-center" scope="row"><img src="https://nyaa.si/static/img/icons/nyaa/1_2.png" alt="Anime Sub" style="width: 80px; height: 28px;"></th>
                    <td colspan="2">[NSBC] Perfect World 2019 E02 [WEBDL] [1080p]</td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="/download/1137892.torrent"><i class="fa fa-fw fa-download"></i></a>
                    </td>
                    <td class="text-center">733.1 MiB</td>
                    <td class="text-center">2019-04-23 20:25</td>
                    <td class="text-center">121</td>
                </tr>
                <tr>
                    <th class="text-center" scope="row"><img src="https://nyaa.si/static/img/icons/nyaa/1_2.png" alt="Anime Sub" style="width: 80px; height: 28px;"></th>
                    <td colspan="2">[NSBC] Perfect World 2019 E02 [WEBDL] [1080p]</td>
                    <td class="text-center" style="white-space: nowrap;">
                        <a href="/download/1137892.torrent"><i class="fa fa-fw fa-download"></i></a>
                    </td>
                    <td class="text-center">733.1 MiB</td>
                    <td class="text-center">2019-04-23 20:25</td>
                    <td class="text-center">121</td>
                </tr>
            </tbody>
    </table>
</div>