<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="<%= csrf_token%>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuyu Fansub</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" id="bsThemeLink">
    <link rel="stylesheet" href="/css/bootstrap-xl.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="<%= classes%>">
    <div class="container">
        <div class="alert alert-primary" role="alert">
            Thông báo: Hiện tại tụi mình bị Facebook khoá FanPage và vẫn chưa lấy lại được, hãy like và theo dõi Page mới để nhận được thông báo về lịch ra các bộ.
            <br>
            Page Mới: <a href="https://www.facebook.com/Fuyu-Subs-101630691270564/">https://www.facebook.com/Fuyu-Subs-101630691270564/</a>
        </div>
    </div>