/*Dark Mode*/
body.dark-mode {
    background: #252b31;
    color: #e2e2e2;
}

body.dark-mode .bg-fuyu {
    background-color: #303840;
    box-shadow: 0 -4px 10px #2a2727;
}

body.dark-mode .fuyu-link {
    color: #fff!important;
}

body.dark-mode .fuyu-link:hover {
    color: #e2e2e2 !important;
}

body.dark-mode .table {
    color: #fff;
}

body.dark-mode .table > tbody > tr._completed:hover > td {
    background-color: #854965;
}

body.dark-mode .table > tbody > tr._completed > td {
    background-color: #7b3d5a;
}

body.dark-mode .table > tbody > tr._ongoing:hover > td {
    background-color: #2e743e;
}

body.dark-mode .table > tbody > tr._ongoing > td {
    background-color: #216631;
}

body.dark-mode table {
    background-color: #303840;
}

body.dark-mode a {
    color: #3EA6FF;
}

body.dark-mode a:hover {
    color: #3EA6FF;
}

body.dark-mode .completed,
body.dark-mode .ongoing,
body.dark-mode .droped {
    color: #fff;
    background-color: #303840; 
    width: auto;
    height: 23px;
    border-radius: 0px !important;
}

body.dark-mode .table > tbody > tr._droped:hover > td {
    background-color: #64494b;
}

body.dark-mode .table > tbody > tr._droped > td {
    background-color: #5e3d40;
}

body.dark-mode .card {
    background-color: #303840;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: #ccc;
}

body.dark-mode .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(170, 163, 163, 0.05);
}

body.dark-mode .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #4d535a;
}

body.dark-mode .dropdown-menu {
    background-color: #262c33;
}

body.dark-mode .dropdown-item.active, .dropdown-item:active {
    background-color: #303840;
}

body.dark-mode .dropdown-item:focus, .dropdown-item:hover {
    color: #ccc;
    text-decoration: none;
    background-color: #1d2124;
}

body.dark-mode .dropdown-menu a {
    color: #ccc;
}

body.dark-mode .control-zone .btn-default {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

body.dark-mode .control-zone .btn-primary, 
body.dark-mode .control-zone .btn-primary:active, 
body.dark-mode .control-zone .btn-info,
body.dark-mode .control-zone .btn-info:active,
body.dark-mode .control-zone .btn-info:focus,
body.dark-mode .control-zone .btn-primary:focus {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}

body.dark-mode .control-zone .btn-primary:focus,
body.dark-mode .control-zone .btn-info:focus {
    box-shadow: 0 0 0 0.2rem rgb(35, 38, 40);
}

body.dark-mode .table thead th {
    border-bottom: 2px solid #252b31;
}

body.dark-mode .table-bordered td, .table-bordered th {
    border: 1px solid #252b31;
}

body.dark-mode .bg-white,
body.dark-mode .alert-light {
    background-color: #303840!important;
    border-color: #38384b;
}

body.dark-mode .form-control {
    background-color: #29333f;
    border: 1px solid #22282c;
    color: #fff;
}

body.dark-mode input[type="text"][post_title] {
    color: #fff;
}

body.dark-mode .form-control:focus {
    border-color: #252b31;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #252b31;
}

body.dark-mode select:active,
body.dark-mode select:hover {
    outline: none
} 