/** 
* Design by Natsu
*/

/* Body */
.fuyu-body {
    margin-top: 20px;
}

/* Navbar */
.logo img {
    width: 200px;
}

.bg-fuyu {
    background-color: #ab2328;
    box-shadow: 0 -4px 10px #ab2328;
}

.nav-link {
    color: #dda7a9!important;
    font-weight: 700!important;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #fff!important;
    transition: all .15s ease-in-out;
}

.navbar-nav .active {
    color: #fff!important;
}

.navbar-nav .active{
    border-bottom: .25rem solid #fff;
    text-decoration: none;
}

#_status > li > a > .fa{
    visibility: hidden;
}

#_status > li > a.selected > .fa{
    visibility: visible;
}

._status {
    height: calc(1.5em + .75rem + 2px);
}

.dropdown-menu.show {
    left: auto;
    right: 0;
}

/* Container */
.content-left {
    display: inline-block;
    width: 18.75rem;
    vertical-align: top;
}

.content-left .thumbnail-box img {
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    box-shadow: 2px 2px 10px 0 #e0e0e0;
    vertical-align: top;
    width: 100%;
}

.content-right {
    padding-left: 2rem;
    width: 100%;
}

.fuyu-comments {
    border-left: hidden!important;
}

.th {
    position: relative;
    background-image: none !important;
}

.tab-content>.active {
    display: block;
}

.markdown-source {
    min-height: 360px;
}

textarea.form-control {
    height: auto;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

/*Post View*/

.br-0 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.bl-0 {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}


/*List-Project*/
.box-content {
    max-height: 285px;
}
.box-thumbnail {
    width: 185px;
    position: relative;
}

.post-thumbnail {
    width: 185px;
}

.box-thumbnail .post-title {
    color: #fff;
    line-height: 17px;
}

.box-thumbnail .studios {
    color: #fff;
}

.overlay {
    height: 25%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    padding: 12px;
}

.box-description {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.box-description:hover {
    overflow-y: scroll;
}

.table > tbody > tr._ongoing > td {
    background-color: #dff0d8;
}

.table > tbody > tr._ongoing:hover > td {
    background-color: #d0e9c6;
}

.table > tbody > tr._completed > td {
    background-color: #f2dede;
}

.table > tbody > tr._completed:hover > td {
    background-color: #ebcccc;
}

.table > tbody > tr._droped > td {
    background-color: #eaa7ba;
}

.table > tbody > tr._droped:hover > td {
    background-color: #f295af;
}

.ongoing {
    color: #000;
    background-color: #9f9;
    width: auto;
    height: 23px;
    border-radius: 5px 5px 5px 5px;
}

.completed {
    color: #000;
    background-color: #ff8888;
    width: auto;
    height: 23px;
    border-radius: 5px 5px 5px 5px;
}

.droped {
    color: #000;
    background-color: #ff6591;
    width: auto;
    height: 23px;
    border-radius: 5px 5px 5px 5px;
}

/* Panel */
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-danger {
    border-color: #ebccd1;
}

.panel-danger>.panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 15px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.delete-button {
    padding: 0!important;
}

/*Screen for mobile*/
  
  @media (max-width: 767px) {
        th.visible-xs,
        td.visible-xs {
        display: none !important;
        }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
        th.visible-sm,
        td.visible-sm {
            display: none !important;
        }
  }
  
  @media (min-width: 768px) and (max-width: 991.98px) { 
        .navbar-collapse > form > .search-btn {
            padding-top: 10px !important;
            width: 100% !important;
        }

        .navbar-collapse > form > input {
            width: 100% !important;
        }

        .navbar-collapse > form > .search-btn > button {
            width: 100% !important;
        }

        .br-0 {
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
   }

   @media (min-width: 576px) and (max-width: 767.98px) { 
        .navbar-collapse > form > .search-btn {
            padding-top: 10px !important;
            width: 100% !important;
        }

        .navbar-collapse > form > .search-btn > button {
            width: 100% !important;
        }

        .navbar-collapse > form > input {
            width: 100% !important;
        }

        .br-0 {
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
    }

    @media (max-width: 575.98px) { 
        .navbar-collapse > form > .search-btn {
            padding-top: 10px !important;
            width: 100% !important;
        }

        .navbar-collapse > form > input {
            width: 100% !important;
        }

        .navbar-collapse > form > .search-btn > button {
            width: 100% !important;
        }

        .br-0 {
            border-bottom-left-radius: .25rem;
            border-top-left-radius: .25rem;
        }
     }