/** 
* Design by Natsu
*/

/* Body */
.fuyu-body {
    margin-top: 20px;
}

/* Navbar */
.logo img {
    width: 200px;
}

.bg-fuyu {
    background-color: #ab2328;
    box-shadow: 0 -4px 10px #ab2328;
}

.nav-link {
    color: #dda7a9!important;
    font-weight: 700!important;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #fff!important;
    transition: all .15s ease-in-out;
}

.navbar-nav .active {
    color: #fff!important;
}

.navbar-nav .active{
    border-bottom: .25rem solid #fff;
    text-decoration: none;
}

/* Container */
.fuyu-comments {
    border-left: hidden!important;
}

.th {
    position: relative;
    background-image: none !important;
}

.panel {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-danger {
    border-color: #ebccd1;
}

.panel-danger .panel-heading {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-body {
    padding: 15px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-default {
    border-color: #ddd;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}