    <h1>Add New</h1>
    <% if (errors) { %>
     <% for(let error of errors ) { %>
    <div class="alert alert-danger"><%= error %></div>
     <% } %>
    <% } %>
    <form action="?_csrf=<%= csrf_token %>" method="POST" enctype="multipart/form-data">
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="thumbnail">Thumbnail</label>
                    <input name="thumbnail" type="file" id="thumbnail" accept="image/*" class="form-control-file">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                <label class="control-label" for="post_title">Post Name</label>
                <input class="form-control" id="post_title" name="post_title" placeholder="Post name" title="" type="text" value="">
            </div>
                </div>
            <div class="col-md-6">
                <div class="form-group">
                <label class="control-label" for="tags">Tags</label>
                <input class="form-control" id="tags" name="tags" placeholder="Tags name" title="" type="text" value="">
                 </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <label class="control-label" for="studios">Studios</label>
                    <input class="form-control" id="studios" name="studios" placeholder="Studios" title="" type="text" value="">
                    </div>
                </div>
                <div class="col-md-6">
			<label class="control-label">Flags</label>
            <select id="_status" class="form-control br-0 _status" name="_status">
                <option value="1" title="Ongoing">Ongoing</option>
                <option value="2" title="Completed">Completed</option>
                <option value="3" title="Droped">Droped</option>
            </select>       
		</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div role="tabpanel" class="tab-pane active" id="description-tab" data-markdown-target="#description-markdown-target">
                        <textarea class="form-control markdown-source" id="description" name="description"></textarea>
                    </div>
                </div>
            </div>
        </div>        
        <button class="btn btn-primary">Add New</button>
    </form>