<%- include('../header'); -%>
<%- include('../navbar'); -%>
<div class="container">
    <div class="card mb-4 mt-4 p-4">
        <div class="text-center">
            <h1>Download</h1>
            <p>Click the button on below to download</p>
            
            
            <a id="link_download" href="<%= result.downloadUrl%>"><button class="btn btn-primary btn-lg">Download</button></a>         
        </div>
    </div>
</div>
<%- include('../footer'); -%>